{{> header}}
<form action="#/takeQuiz" method="get">

    <div class="text-center mb-4">
        <h1 class="h3 mb-3 font-weight-normal">Pick a Category for your Quiz</h1>
    </div>

    <div class="form-group my-5">
        <label for="dropDownSelect" ></label>
        <select class="form-control w-25 m-auto" id="dropDownSelect" name="category">
            <option>Random Category</option>
            <option>Money</option>
            <option>Relationships</option>
            <option>Career</option>
            <option>Health</option>
            <option>Creative</option>
            <option>Fun</option>
            <option>Mind Bending</option>
        </select>
    </div>

    <button class="btn btn-lg btn-dark btn-block" type="submit">Take a Quiz</button>
</form>
{{> footer}}